<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/weather.png">
    <title>About</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <main>
        <div class="container">
        {{>header}}
        <p>This application was created by Emmanuel Nkasi and it was focused more on the backend using express npm library to build and hbs for dynamic templating</p>
        <img class="image" src="./images/picture.jpeg" alt="photo"
        <footer>
            {{>footer}}
        </footer>
        </div>
    </main>
</body>
</html>